<header id="header" class="header">
  <div class="masthead-wrapper dropdown-search">
    <div class="masthead--container">
      <div routerLink="/" class="container-title">
        <img src="../../../assets/img/logo.png" alt="" />
      </div>
      <div class="container-nav">
        <div class="shop-dropdown">
          <div class="nav-shop">
            CỬA HÀNG
            <div class="dropdown--content">
              <div class="content-list">
                <div [routerLinkActive]="'active'" [routerLink]="['']">Trang chủ</div>
                <div [routerLinkActive]="'active'" [routerLink]="['dashboard']">Dashboard</div>
                <div href="/">Thể loại</div>
                <div href="/">Liên hệ</div>
              </div>
            </div>
          </div>
        </div>

        <div class="nav-insideshop">THÔNG TIN THÊM</div>
      </div>
    </div>
    <div class="nav-user">
      <div class="user-selection">
        <div class="selection-text">Hỗ trợ</div>
        <div class="text-acc" routerLink="/profile">
          <fa-icon class="icon" [icon]="faUser"></fa-icon>

          {{ authState == false ? "LOGIN" : "My account" }}
        </div>
        <div class="">
          <fa-icon class="icon" [icon]="faSearch" (click)="showSearch()">
          </fa-icon>
          <!-- <span >Tìm kiếm</span> -->

          <div *ngIf="show" class="dropdown-srch">
            <fa-icon
              class="icon"
              [icon]="faClose"
              (click)="showSearch()"
            ></fa-icon>
            <input class="dropdown-input" type="text" placeholder="Search" #box1
            (keyup.enter) = "selectSearch(box1.value)"
            />
          </div>
        </div>
      </div>
      <div class="">
        <fa-icon
          class="seletion-cart"
          [icon]="faShoppingCart"
          (click)="showCart1()"
        ></fa-icon>
        <div class="dropdown-cart" *ngIf="showCart">
          <!-- *ngIf="let c of cartData.data[0].numInCart != 0" -->
          <div class="cart-content">
            <div class="cart-header">
              <div class="title-cart">GIỎ HÀNG</div>
              <fa-icon
                class="icon close-cart"
                style="background-color: #778899"
                [icon]="faClose"
                (click)="showCart1()"
              ></fa-icon>
            </div>

            <div class="list-cart" *ngIf="cartData.data[0].numInCart !== 0">
              <div
                class="list-content"
                *ngFor="let c of cartData.data; let i = index"
              >
                <div class="product-img">
                  <img
                    src="{{c.product.image}}"
                    width="100"
                    alt="{{c.product.title}}"
                  />
                </div>
                <div class="product-body">
                  <div class="product-name">
                    <a class="text-black" href="#">{{ c.product.title }}</a>
                  </div>
                  <div class="product-price text-black">
                    <span class="" style="color: #000000"
                      >{{ c.numInCart }} x</span
                    >
                    {{ c.product?.price | currency : "USD" }}
                  </div>
                </div>
                <button
                  class="text-black btnDelete"
                  (click)="cartService.DeleteProductFromCart(i)"
                >
                  <fa-icon
                    class="icon"
                    style="font-size: 8px"
                    [icon]="faClose"
                  ></fa-icon>
                </button>
              </div>
            </div>
            <div class="product-price">
              <small class="text-black"
                >{{
                  cartData.data[0].numInCart != 0 ? cartData.data.length : 0
                }}
                Sản phẩm được chọn</small
              >
              <div class="text-total">
                TỔNG TIỀN:
                <span class="text-total">{{
                  cartTotal | currency : "VND"
                }}</span>
              </div>
            </div>
            <div class="option-cart">
              <button routerLink="/checkout" class="btnCheck">THỦ TỤC</button>
              <button routerLink="/cart" class="btnView">XEM</button>
            </div>
          </div>
        </div>
        <!-- <span >Giỏ đồ</span> -->
      </div>
    </div>
  </div>
</header>
