/* BREADCRUMB */
.link{
  color: none;
  text-decoration: none;
}
.active{
  color: #ffb416;
}
.section{
  padding: 10px 362px;
}
.breadcrumb-tree{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
/* /BREADCRUMB */
.page-heading{
    text-align: center;
    width: 100%;
    
}
.form-group{
  display: flex;
  flex-direction: column;
}
.help-block{
  font-size: 14px;
  /* color: 	#FF0000; */
  padding: 0.2em 0.5em;
}
.has-error{
  color:  #FF4500; 
  border: #FF4500;
}
.text-bold{
  font-family: notosans-bold;

}
.cart-title{ 
    color: #000000;
    font-family: notosans-bold;
    font-size: 54px;
    font-weight: 700;
    padding: 50px;
}
.checkout-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.line-checkout{
    border: 0.1px solid #000000;
    
}
.col{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.title-checkout{
    font-family: notosans-bold;
    font-weight: 700;
    font-size: 25px;
}
.address-info{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 500px;
}
.iptInforAddress{
    padding: 0.25em 0.5em;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
}
.iptInforAddress:focus{
    outline: 3px solid #DCDCDC;
}

/* checkbox */
.lblCheckbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .lblCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .lblCheckbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .lblCheckbox input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .lblCheckbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .lblCheckbox .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* ORDER */
  .order--contain{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border: 1px solid #DCDCDC;
    padding: 20px 30px;
    background-color: #f6f6f6;
  }
  .text-left{
    text-align: left;
  }
  .text-right{
    text-align: right;
  }
  .text-center{
    text-align: center;
  }
  .btnOrder{
    cursor: pointer;
    border-radius: 16px;
    font-family: notosans-bold;
    color: #ffffff;
    border: none;
    height: 32px;
    background-color: #FF0000;
  }

  .text-title{
    font-family: notosans-bold;
  }
  .btnReturn{
    height: 50px;
    /* Chuan */
    padding: 14px 20px; 
    font-family: notosans-bold;
    color: #000000;
    cursor: pointer;
    border: none;
}
.text-empty-cart{
  color: #000000;
  font-family: notosans-bold;
  font-size: 38px;
  font-weight: 700;
}
.page{
  width: 100%;
  height: auto;
  padding:50px 362px;
}
