/* You can add global styles to this file, and also import other style files */
@import url(./assets/css/base/text.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: notosans-regular;
    font-weight: 400;
    font-size: 18px;
    
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
