<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1 class="title-done">Thank You!</h1>
          <p class="lead"><strong>Please check your email</strong> for order confirmation.</p>
          <hr>
          <p>
  
          <p>Order Id : <strong>{{orderId}}</strong></p>
        </div>
  
        <table class="table">
          <thead>
          <tr>
            <th class="text-left">Image</th>
            <th class="text-left">Title</th>
            <th class="text-left">Price</th>
            <th class="text-left">Quantity</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of products">
            <td>
              <img [src]="p.image" alt="{{p.title}}" class="img-thumbnail" width="100px">
            </td>
            <td>{{p.title}}</td>
            <td>{{p.price | currency:'VND'}}</td>
            <td>{{p.quantityOrdered}}</td>
          </tr>
  
          <tr class="border-0">
            <td style="border: none;"></td>
            <td></td>
            <td>TOTAL</td>
            <td style="color: #FF4500">{{cartTotal | currency:'USD'}}</td>
  
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  
  
