.container{
    color: #000000;
    background-color: 	#FFFFFF;
    padding: 50px 362px;
}
.table{
    width: 100%;
}
.title-done{
    color: #000000;
    font-family: notosans-bold;
    font-size: 54px;
    font-weight: 700;
    padding: 50px;
}
.jumbotron{
    text-align: center;
    background-color: #f6f6f6;
}
.text-left{
    text-align: left;
}