<div class="main-listorder">
  <div class="title">DANH SÁCH ĐƠN HÀNG</div>

  <div class="content">
    <table>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Tên đăng nhập</th>
        <th>Tên</th>
        <th>Role</th>
        <th></th>
      </tr>
      <tr *ngFor="let order of detailOrder">
        <td>{{ order.orderId }}</td>
        <td>{{ order.email }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.fullNamme }}</td>
        <td>{{order.role}}</td>
        <td class="detail-user">Chi tiết</td>
      </tr>
    </table>
  </div>
</div>
