.product-page{
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
    justify-content: space-between;
}
.row{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.main-product{
    padding: 0px 362px
}
.btnOrder{
    cursor: pointer;
    border-radius: 16px;
    font-family: notosans-bold;
    color: #ffffff;
    border: none;
    height: 32px;
    background-color: #FF0000;
    padding: 0px 20px;
  }
  .title-product{ 
    color: #000000;
    font-family: notosans-bold;
    font-size: 30px;
    font-weight: 700;
}
.dash-container{
    display: flex;
    align-content: center;
    text-align: center;
    padding: 0px 2px;
    height: 100%;
    border: none;
    width: 22px;
    padding: 0 4px;
}
.dash{
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #000000;
}
.dash-content{
    width: 100%;
    
}
.form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 4px;
    padding: 0px 20px;
}
.iptNumberOfPr{
    color: #000000;
    width:80px;
    height: 20px;
    text-align: center;
}

.section{
    padding: 50px 0px;
}
.breadcrumb-tree{
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    column-gap: 20px;
}
.link{
    color: #B0C4DE;
    text-decoration: none;
}
.review-link{
    color: #000000;
    text-decoration: none;
}
.product-price, .product-available{
    color: #FF0000;
    font-family: notosans-bold;
    font-size: 20px;
    font-weight: 700;
}
#product-main-img {
    width: 350px;
}
#product-main-img img{
    width: 350px;
    border: 1px solid black;
    border: none;
}
.product-preview img{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border: none;
}
.container{
    display: flex;
    flex-direction: row;
}
.row1{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.product-name{
    font-family: notosans-bold;
    font-size: 30px;
    font-weight: 700;
}
.product-details{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.active{
    color: #ffb416;
}
/* REVIEW */
.review-title{
    font-family: notosans-bold;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
    
}
.review-container{
    border: 1px solid #DCDCDC;
}
.review-header{
    font-family: notosans-bold;
    padding: 15px 0;
    padding-left: 20px;
    background-color: #ADFF2F;
}
.review-body{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 25px 0;
    padding-left: 20px;
}
/* /REVIEW */

/* POPUP */
.popup{
    position:fixed;
    border: 1px solid black;
    width: 100%;
    height: 100vh; 
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index:10000;
}
.mbox-form{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mbox-content{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 50px 50px;
}
.mbox-title{
    font-family: notosans-bold;
}
.close-icon{
    position: absolute;
    right: 50px;
}
.option{
    display: flex;
    justify-content: center;
}
.btnReview{
    background-color: #ffb416;
}
.formm{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
/* /POPUP */
